@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.footer-sec{
    margin-top: 5em;
    background-color: $pale-black;

    .cols{
        padding: 20px 50px;
        @include flexbox($justify:space-between);

        .col-1{
            .col-text{
                margin-top: 10px;
                p{
                    font-size: 14px;
                    margin-top: 10px;
                    color: rgba(255, 255, 255, 0.394);
                }
            }

            .col-socials{
                margin-top: 10px;

                i{
                    color: rgba(255, 255, 255, 0.394);
                    font-size: 10px;
                    margin: 5px;

                    &:hover{
                        color: $orange;
                        cursor: pointer;
                    }
                }
            }
        }

        .col{
            h4{
                text-decoration: underline;
                color: $white
            }
            
            li{
                margin-top: 10px;

                a{
                    color: rgba(255, 255, 255, 0.394);

                    &:hover{
                        text-decoration: underline $white;
                    }
                }
            }

            // media
            @include media(tablet){
                margin-top: 25px;
            }
        }

        // media
        @include media(tablet){
            @include flexbox($align: flex-start, $direction: column);
        }
    }

    .copyright{
        margin-top: 30px;
        background-color: $black-2;
        padding: 15px;
        width: 100%;

        p{
            text-align: center;
            color: $white;
            font-size: 12px;
        }
    }
}
