@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.header-sec{
    background: $white;

    .hero{
        position: relative;

        // Hero Section
        .hero-section{
            background-color: rgba(0, 0, 0, 0.516);
            position: absolute;
            top: 0;
            width: 100%;
            height: 495px;
            z-index: 1;
            min-height: 75vh;
            color: $white;
            // border: 2px solid red;
            @include flexbox($justify: space-between);

            &-content{
                padding-inline: 25px;

                h1{
                    max-width: 700px;
                    font-size: 3.5em;
                    // border: 2px solid red;
                    span{
                        color: $orange;
                    }
                }

                p{
                    // border: 2px solid red;
                    font-size: 16px;
                    margin-top: -15px;
                    // font-weight: bold;
                }
            }

            &-socials{
                // border: 2px solid red;
                transform: rotate(90deg);
                
                i{
                    font-size: 10px;
                    font-weight: bold;
                    margin: 5px;
                    border: 1px solid $orange;
                    border-radius: 10px;
                    padding: 7px;
                    cursor: pointer;

                    &:hover{
                        background-color: $orange;
                        border: 1px solid $wine;
                        transition: .5s ease-in-out;
                    }
                }
            }
        }

        // Swiper Section

        .mySwiper {
            border: 2px solid red;
            width: 100%;
            height: 79vh;
            opacity: 0.3;
            position: relative;

            swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}






