// Mixins styles

// Flexbox
@mixin flexbox($display: flex, $justify: center, $align: center, $direction: row){
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

// Media Query
@mixin media($px){
    @if $px == big-tablet{
        @media screen and (max-width: 860px) {
            @content;
        }
    }
    @else if $px == tablet{
        @media screen and (max-width: 740px) {
            @content;
        }
    }
    @else if $px == small-tablet{
        @media screen and (max-width: 550px) {
            @content;
        }
    }
    @else if $px == mobile{
        @media screen and (max-width: 380px) {
            @content;
        }
    }
    @else if $px == small-mobile{
        @media screen and (max-width: 280px) {
            @content;
        }
    }
}