@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.main-sec{
    section{
        margin-top: 6em;
        padding-inline: 5em;

        .sect-head{
            text-align: center;
            text-decoration: underline;
            color: $wine;
        }

        .about-cards{
            @include flexbox($justify:center);
            gap: 30px;
            margin-top: 40px;

            .about-card-img{
                border: 1px solid #981b1b37;
            }
            .about-card{
                color: $black;
                padding-inline: 12px;
                text-align: center;
                padding: 12px;
                width: 450px;

                &-text{
                    background-color: #ffb0111c;
                    padding: 10px;
                    line-height: 1.2;

                    p{
                        margin-top: 5px;
                        color: $black-2;
                    }
                }
            }
        }
    }
}


// btn group-contents
.active-btn{
        background-color: $wine;
        color: $white;
}

.btn-group-contents{
    margin-top: 30px;
    // overflow-y: scroll;
    background-color: rgba(212, 200, 200, 0.426);
    border-radius: 10px;
    padding: 20px;

    .step{
        margin: 30px;

        h4{
            color: $wine;
            text-transform: uppercase;
            // text-decoration: underline $wine;
        }

        p{
            margin-top: 10px;
            line-height: 1.5;
        }
    }

    .simplicity-content{
        display: none;
    }

    .algorithm-content{
        display: none;
    }
}


// Project Demo
.demo-video{
    margin-top: 30px;
    text-align: center;

    video{
        border-radius: 10px;
    }
}

// Call to action
.cta{
    width: 70%;
    margin: auto;
    text-align: center;

    &-text{
        background: linear-gradient(rgba(46, 41, 41, 0.734),rgba(0, 0, 0, 0.671)),
        url(/assets/images/cta.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 80px 50px;
        border-radius: 10px;

        h2{
            color: $white;
            text-transform: capitalize;
            line-height: 1.5;
            margin-bottom: 2em;
        }
    }
}
