@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.main-sec{
    section{
        margin-top: 6em;
        padding-inline: 5em;

        .sect-head{
            text-align: center;
            text-decoration: underline;
            color: $wine;
        }

        .about-cards{
            @include flexbox($justify:center);
            gap: 30px;
            margin-top: 40px;

            .about-card-img{
                border: 1px solid #981b1b37;
            }
            .about-card{
                color: $black;
                padding-inline: 12px;
                text-align: center;
                padding: 12px;
                width: 450px;

                &-text{
                    background-color: #ffb0111c;
                    padding: 10px;
                    line-height: 1.2;
                    font-size: 14px;
                    // font-weight: 200;

                    p{
                        margin-top: 5px;
                        color: $black-2;
                        font-size: 15px;
                    }
                }

                //media
                @include media(tablet){
                    width: 95%;
                }

                @include media(small-tablet){
                    width: 95%;
                }

                @include media(mobile){
                    width: 95%;
                }
            }

            // media
            @include media(tablet){
                @include flexbox($direction:column);
            }
        }

        // media
        @include media(small-tablet){
            padding-inline: 2em;
        }

        // media
        @include media(mobile){
            padding-inline: 1.2em;
        }
    }
}


// btn group-contents
.active-btn{
        background-color: $wine;
        color: $white;
}

.btn-group-contents{
    margin-top: 30px;
    background-color: rgba(212, 200, 200, 0.426);
    border-radius: 10px;
    padding: 2px;

    .step{
        margin: 30px;

        h4{
            color: $wine;
            text-transform: uppercase;
            // text-decoration: underline $wine;
        }

        p{
            margin-top: 10px;
            line-height: 1.5;
        }
    }

    .simplicity-content{
        display: none;
    }

    .algorithm-content{
        display: none;
    }
}


// Project Demo
.demo-video{
    // border: 2px solid red;
    margin-top: 30px;
    text-align: center;

    video{
        border-radius: 10px;
        width: 60%;
        height: 40%;

        // media
        @include media(small-tablet){
            width: 95%;
        }
    }
}