@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.thanks{
    background: url(/assets/images/confetti.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-inline: 20px;
    height: 100vh;
    @include flexbox($direction: column);
    color: $wine;
    text-align: center;

    h2{
        border: 1px solid rgba(255, 0, 0, 0.262);
        padding: 30px;
    }
    a{
        margin-top: 30px;
    }
}
