@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.home-nav{
    background-color: $wine;
    @include flexbox($justify: space-between);
    padding: 10px 50px;

    .nav-right{
        ul{
            @include flexbox;
            // gap: 2em;

            a{
                color: $white;
                padding: 15px 30px;
                font-weight: bold;

                &:hover{
                    background-color: $orange;
                    transition: .5s ease-in-out;
                }
            }

            // media
            @include media(small-tablet){
                @include flexbox($direction: column);
                gap: 20px;
            }
        }
    }

    // media
    @include media(tablet){
        @include flexbox($justify: center, $direction:column);
        flex-wrap: wrap;
        gap: 10px;
    }
}