@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.home-nav{
    background-color: $wine;
    @include flexbox($justify: space-between);
    padding: 10px 50px;

    .nav-left{
        a{
            color: $white;

            small{
                display: inline-block;
                font-size: 10px;
                padding-right: 16px;
            }
        }
    }
    .nav-right{
        ul{
            @include flexbox;
            // gap: 2em;

            li{
                a{
                    color: $white;
                    padding: 15px 30px;
                    font-weight: bold;

                    &:hover{
                        background-color: $orange;
                        transition: .5s ease-in-out;
                    }
                }

                // media
                @include media(tablet){
                    padding: 20px;
                    margin: 20px;
                    width: 100%;
                    text-align: center;
                }

                // media
                @include media(mobile){
                    padding: 20px;
                    margin: 12px;
                    width: 100%;
                    text-align: center;
                }
            }

            // media
            @include media (tablet){
                @include flexbox($direction: column);
                    gap: 20px;
                }
        }

        // media
        @include media (tablet){
            position: absolute;
            right: -280px;
            top: 83px;
            z-index: 99;
            transition: .7s ease-in-out;
        }

        @include media (mobile){
            position: absolute;
            right: -280px;
            top: 89px;
            z-index: 99;
            transition: .7s ease-in-out;
        }

        // media
        @include media (tablet){
            background-color: $wine;
            height: 79vh;
            width: 280px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        @include media (mobile){
            background-color: $wine;
            height: 79vh;
            width: 220px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }

    .hamburger{
        display: none;

        i{
            color: $white;
            font-size: 22px;
        }

        // media
        @include media (tablet){
            display: block;
        }
    }

    // Hamburger Open class
    .open{
        right: 0;
        transition: .7s ease-in-out;
    }

    // media
    @include media(tablet){
        padding: 20px 15px;
    }
}